<ion-header>
  <ion-toolbar style="padding: 0 7%;">
    <ion-title style="padding-left: 0;">
      <h3 style="padding-left: 0; cursor: pointer;font-size: 24px;" [routerLink]="['/home']"><b>IT KITB</b></h3>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: rgb(243, 243, 243) !important; --color: black !important;">
  <ion-spinner *ngIf="loading" color="secondary"></ion-spinner>
  <div style="padding: 1.6% 7%;">
    <div class="category">
      <div style="margin-bottom: 10px;">
        <ion-label [routerLink]="['/home']" style="cursor: pointer;">Home</ion-label>
        <ion-icon name="chevron-forward-outline" style="margin: 0 10px;font-size: 11px;"></ion-icon>
        <ion-label><b>Tambah</b></ion-label>
      </div>
      <h4 style="margin-top: 25px"><b>Tambah Produk</b></h4>
      <ion-grid style="padding: 0 !important;margin-top: 20px;">
        <ion-row>
          <ion-col style="padding: 0;margin-right: 18px;">
            <div style="margin-bottom: 10px;">
              <ion-label>Nama Produk</ion-label>
              <ion-input [(ngModel)]="title" type="text"></ion-input>
            </div>
            <div style="margin-bottom: 10px;">
              <ion-label>Harga</ion-label>
              <ion-input [(ngModel)]="price" type="number"></ion-input>
            </div>
            <div style="margin-bottom: 10px;">
              <ion-label>Stok</ion-label>
              <ion-input [(ngModel)]="stock" type="number"></ion-input>
            </div>
            <div style="margin-bottom: 10px;">
              <ion-label>Deskripsi</ion-label>
              <ion-textarea [(ngModel)]="description"></ion-textarea>
            </div>
          </ion-col>
          <ion-col style="padding: 0;">
            <div style="margin-bottom: 10px;">
              <ion-label>Kategori</ion-label>
              <ion-input [(ngModel)]="category" type="text"></ion-input>
            </div>
            <div style="margin-bottom: 10px;">
              <ion-label>Diskon</ion-label>
              <ion-input [(ngModel)]="discountPercentage" type="text"></ion-input>
            </div>
            <div style="margin-bottom: 10px;">
              <ion-label>Rating</ion-label>
              <ion-input [(ngModel)]="rating" type="text"></ion-input>
            </div>
            <div style="margin-bottom: 10px;">
              <ion-label>Thumbnail</ion-label>
              <ion-input [(ngModel)]="thumbnail" type="file" (change)="handleFileSelect($event)"></ion-input>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-button [routerLink]="['/home']" fill="outline" style="margin: 11px 10px 0 0;">Cancel</ion-button>
      <ion-button (click)="save()" style="margin-top: 15px;">Simpan</ion-button>
    </div>
  </div>
</ion-content>
